{% extends 'base.html' %}

{% block content %}
<h1>Expenses List</h1>
<ul class="list-group">
    <il class="list-group-item">sosos1</il>
    <il class="list-group-item">sosos2</il>
    <il class="list-group-item">sosos3</il>
    <il class="list-group-item">sosos4</il>
    <il class="list-group-item">sosos5</il>
    <il class="list-group-item">sosos6</il>
    <il class="list-group-item">sosos7</il>
    <il class="list-group-item">sosos8</il>
    <il class="list-group-item">sosos9</il>
    <il class="list-group-item">sosos10</il>
</ul>
{% endblock %}